<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>fsm-vue</title>
    <link href=./static/css/app.3271a0bbead361f282b41d1c16e8188a.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=./static/js/manifest.3ad1d5771e9b13dbdad2.js></script>
<script type=text/javascript src=./static/js/vendor.8b58cd4be613c0d4ba1a.js></script>
<script type=text/javascript src=./static/js/app.fecb0c39ce932c968b7c.js></script>
</body>
</html>